<!-- Sign In Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">
                        <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Dimillav</h3>
                    </a>
                    <h3>Authenticator</h3>
                </div>
                <div>
                    <div class="form-floating mb-3">
                        <p  >
                            1. Mở ứng dụng Authenticator trên điện thoại của bạn (như Google Authenticator, Microsoft Authenticator,
                            hoặc Authy).<br>
                            2. Quét mã QR trên màn hình bằng ứng dụng Authenticator.<br>
                            3. Ứng dụng sẽ tự động thêm tài khoản của bạn và bắt đầu tạo mã xác thực 6 chữ số.<br>
                            4. Nhập mã xác thực từ ứng dụng vào ô yêu cầu trong trang web để hoàn tất thiết lập.
                        </p>
                    </div>
                    <div class="form-floating text-center mb-4">
                        <img src="{{qrCode}}" alt="QR Code">
                    </div>
                    <a href="/" type="submit" class="btn btn-primary py-3 w-100 mb-4">Hoàn tất</a>
                </div>
            </div>
        </div>
    </div>
</div>